<div class="hero-unit">
	<h1>Rebuilding the UK's Address Data.</h1>
	<p class="lead">While the <a href="http://en.wikipedia.org/wiki/Postcode_Address_File">Postcode Address File</a> might not be open data, there's plenty of data with addresses that is open.</p>
	<p>Our aim is to build a reliable, open address database using open data that already exists.</p>
	<p>To see what we've got for your area, enter your postcode below:</p>
	
	<form id="postcode-form" class="form-inline span4" method="post" action="/postcode">
		<div class="input-append">
		  <input type="text" class="input span3" id="appendedInputButton" name="postcode" placeholder="Enter a postcode">
		  <button class="btn btn-success" type="submit">Go</button>
		</div>
	</form>
</div>